<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" id="logo" href="#{{config.routes.home.RouteUrl}}">Easy 16i</a>
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"> <span class="hidden-xs">Mois :</span> {{currentDate.month}} <b class="caret"></b></a>
        <ul class="dropdown-menu message-dropdown">
            <li class="message-preview" ng-repeat="month in months">
                <a href="" ng-click="setMonth($index+1)">
                    <strong>
                        {{month|capitalize}} ({{$index+1}})
                    </strong>
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-xs">Année :</span> {{currentDate.year}} <b class="caret"></b></a>
        <ul class="dropdown-menu message-dropdown">
            <li class="message-preview" ng-repeat="year in years">
                <a href="" ng-click="setYear(year)">
                    <strong>
                        {{year}}
                    </strong>
                </a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="" ng-click="setCurrentDate()" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-refresh"></i></a>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{userName}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li ng-if="isAdmin" class="message-preview">
                <a href="#{{config.routes.subscription.RouteUrl}}"><i class="fa fa-fw fa-user"></i> Gestion des Profils</a>
            </li>
            <li ng-if="isAdmin" class="message-preview">
                <a href="#{{config.routes.natureSpending.RouteUrl}}"><i class="fa fa-fw fa-cogs"></i> Gestion des natures de dépenses</a>
            </li>
            <li ng-if="isAdmin" class="message-preview">
                <a href="#{{config.routes.scales.RouteUrl}}"><i class="fa fa-fw fa-gear"></i> Paramétres des taux automobiles</a>
            </li>
            <li>
                <a href="" ng-click=" logout()"><i class=" fa fa-fw fa-power-off"></i> Déconnexion</a>
            </li>
        </ul>
    </li>
</ul>
