<div id="page-wrapper">

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <img class="img-thumbnail" src="img/logo.png" alt="">Gestion des natures de dépenses
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-edit"></i><a href="#{{config.routes.home.RouteUrl}}"> Easy 16i comptable</a>
                    </li>
                    <li>
                        <i class="fa fa-table"></i> Ajout des natures de dépenses
                    </li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-easy16i">
                    <div class="panel-heading">
                        <h3 class="text-center">
                            <i class="fa fa-plus-circle"></i><span>Ajouter une nouvelle nature de dépense</span>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <form role="form" novalidate angular-validator name="natureSpendingCreationForm" angular-validator-submit="createUpdateNatureSpending({ 'name'        : this.natureName,
                                                                                                                                                    'description' : this.desc,
                                                                                                                                                    'min'         : this.min,
                                                                                                                                                    'max'         : this.max})">

                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label for="natureName">Nom de la nature de dépense : </label>
                                    <input type="text" class="form-control" name="natureName" id="natureName" ng-model="natureName" placeholder="Saisir le nom de la nature de dépense.." size=50 required required-message="'{{validationMessages.requiredMessage}}'" validate-on="dirty">
                                </div>

                                <div class="form-group">
                                    <label for="desc">Description : </label>
                                    <textarea class="form-control" name="desc" id="desc" ng-model="desc" placeholder="Saisir la description de la nature de dépense.." rows="5" maxlength="250" style="resize:none;"></textarea>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="min">Prix minimal : </label>
                                    <input type="number" class="form-control" name="min" id="min" ng-model="min" placeholder="Saisir la valeur minimal de la natrue de dépense ..">
                                </div>

                                <div class="form-group">
                                    <label for="max">Prix maximal : </label>
                                    <input type="number" class="form-control" name="max" id="max" ng-model="max" placeholder="Saisir la valeur maximal de la natrue de dépense..">
                                </div>

                            </div>

                            <div class="form-group pull-right">
                                <button type="submit" class="btn btn-easy16i">créer la natrue de dépense</button>
                                <button type="button" class="btn btn-default" ng-click="reset()">Vider les champs</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="spinner-container-panel" ng-show="isLoadingNatureSpendings"><span us-spinner spinner-theme="easy16i-panel"></span></div>
                            <div class="table-responsive">
                                <table st-table="displayedNatureSpendingList" st-safe-src="natureSpendingList" class="table table-striped" ng-hide="isLoadingNatureSpendings">
                                    <thead>
                                        <tr>
                                            <th st-sort="nature.name">Nom</th>
                                            <th >Description</th>
                                            <th st-sort="nature.min">Prix minimal</th>
                                            <th st-sort="nature.max">Prix maximal</th>
                                            <th st-sort="nature.deleted">Status</th>
                                            <th st-sort="nature.created">Date de création</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="nature in displayedNatureSpendingList" ng-class="nature.deleted === 1 ? 'ng-scope danger greyedOut' : 'ng-scope';">
                                            <td>{{nature.name}}</td>
                                            <td>{{nature.description}}</td>
                                            <td>{{nature.min}}</td>
                                            <td>{{nature.max}}</td>
                                            <td>{{nature.deleted === 1 ? "Désactivé":"Actif" }}</td>
                                            <td>{{nature.created | date}} {{nature.created.substring(11, 16)}}</td>
                                            <td>
                                                <div confirm-delete-inline on-confirm="deleteNatureSpending(nature)" on-start-edit="starEditNatureSpending(nature)" allow-edit="true" ng-hide="nature.deleted===1 || nature.isBeingModified"></div>
                                                <div confirm-undo-inline on-confirm="UndoDeleteNatureSpending(nature)" ng-hide="nature.isBeingModified || nature.deleted!==1"></div>
                                                <div class="spinner-container-input" ng-show="user.isBeingModified" style="width: 34px;"><span us-spinner spinner-theme="easy16i-input"></span></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>

                                        <tr ng-show="natureSpendingList.length >= 5">
                                            <td colspan="7" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                            </td>
                                        </tr>
                                        <tr ng-show="displayedNatureSpendingList.length === 0">
                                            <td colspan="7" class="text-center">
                                                <div class="alert alert-info col-lg-12">
                                                    <i class="fa fa-info-circle"></i> Aucun Nature correspondant au filtre n'a été trouvé
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

