<div id="page-wrapper">

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <img class="img-thumbnail" src="img/logo.png" alt="">Tableau de bord
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-table"></i> Tableau de bord des dépenses
                    </li>
                </ol>
            </div>
        </div>

        <div class="form-group col-lg-6">
            <label for="gite">Gîte / Chambre d'hôte : </label>
            <select name="gite" ng-model="selectedGite" ng-hide="isLoadingAccomodations" class="form-control" id="gite" ng-change="displaySpending()"
                    ng-options="(accomodation.name +'  '+ accomodation.city +'-'+ accomodation.country) for accomodation in accomodationList track by accomodation._id">
                <option value="" selected>Tous les gîtes / chambres d'hôtes ..</option>
            </select>
            <div class="spinner-container-input" ng-show="isLoadingAccomodations"><span us-spinner spinner-theme="easy16i-input"></span></div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-easy16i">
                    <div class="panel-heading">
                        <h3 class="text-center">
                            <i class="fa fa-table"></i>
                            <span>Dépenses pour l'année civile {{currentDate.year}}</span>
                        </h3>
                    </div>

                    <div class="panel-body">
                        <div class="alert alert-info">
                            <i class="fa fa-info-circle"></i> Vous pouvez lancer à tous moments les calculs de l'année civile <strong>{{currentDate.year}}</strong>, les données seront modifiables via les masques de saisie avant la validation de l'administrateur.
                        </div>
                        <div class="spinner-container-panel" ng-show="isLoadingSpendings || isLoadingSpendingNature"><span us-spinner spinner-theme="easy16i-panel"></span></div>

                        <div ng-if="dashboard !== undefined" class="table-responsive" ng-hide="isLoadingSpendings && isLoadingSpendingNature">
                            <table id="table1" class="table table-bordered table-hover table-striped table-easy16i-dashboard">
                                <thead>
                                    <tr>
                                        <th>{{currentDate.year}}</th>
                                        <th ng-repeat="month in months">{{month | capitalize}}</th>
                                        <th>Total par nature</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ligne in dashboard">
                                        <td><strong>{{ligne.title | capitalize}}</strong></td>
                                        <td ng-repeat="x in ligne.month track by $index">{{x !== 0 ? (x | currency) : null}}</td>
                                        <td><strong>{{ligne.totalNature !== 0 ? (ligne.totalNature | currency) : null}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <button class="btn btn-link pull-right" ng-if="dashboard !== undefined" ng-click="exportToExcel('#table1')">
                            <span class="glyphicon glyphicon-share"></span> Exporter vers Excel
                        </button>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
